<div class="wrapper">
  <div class="column left">
    <div>
      <h6 class="text-primary">Name</h6>
      <div class="form-check">
        <input [(ngModel)]="name" (input)="updateQuery()" type="text" class="form-control">
      </div>
    </div>
    <div>
      <h6 class="text-primary">Brand</h6>
      <div class="form-check" *ngFor="let brand of brands">
        <label class="form-check-label" >
          <input [(ngModel)]="brand.isChecked" (change)="updateQuery()" class="form-check-input" type="checkbox">{{brand.name}}
        </label>
      </div>
    </div>
    <div>
      <h6 class="text-primary">OS</h6>
      <div class="form-check">
        <label class="form-check-label">
          <input [(ngModel)]="isiOS" (change)="updateQuery()" class="form-check-input" type="checkbox">iOS
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input [(ngModel)]="isAndroid" (change)="updateQuery()" class="form-check-input" type="checkbox">Android
        </label>
      </div>
    </div>
  </div>
  <div class="column right">
    <div class="products">
      <div class="product border" *ngFor="let product of products">
        <a routerLink="/product/{{product._id}}">
          <img class="mx-auto mb-3 d-block" src="/assets/img/{{product.name}}.jpg">
          <div class="text-primary font-weight-bold">{{product.name}}</div>
        </a>
        <div>By: {{product.brand}}</div>
        <div>OS: {{product.os}}</div>
        <div>Price: {{product.price}}</div>
      </div>
    </div>
  </div>
</div>
